* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
}


.site-container.added {
    display: block;
}

.book-container {
    display: none;
}

.book-container.visible {
    height: 100%;
    background-color: #b18981;

    display: grid;
    grid-template: 1fr 9fr/1fr;
}

.book-container .header {
    background-color: #9A8C98;
    color: #F2E9E4;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1 {
    margin: 1rem;
}

.book-container .body {
    background-color: #4A4E69;
}

.body .card-container {
    margin: 1rem;
    display: grid;
    grid-template: 1fr/repeat(auto-fill, minmax(14rem, 2fr));
    gap: 1rem;

}


.card-container [class^='card'] {
    background-color: #F2E9E4;
    border-radius: 0.8rem;
    padding: 1rem;

    width: 15rem;
    height: 18rem;

    display: grid;
    grid-template-rows: 3fr 1fr 2fr 1fr 1fr;
    gap: 0.5rem;
    text-align: center;
}

[class^='card'] [class^='name'] {
    align-self: center;
}



[class^='card'] [class^='remove'],[class^='card'] [class^='status']  {
    background-color: #F2E9E4;
    color: #22223B;
    border: 3px solid #22223B;
    border-radius: 1rem;

    font-weight: 600;
    outline: none;
}
/* -------------------------------------------------------------------- */
[class^='card'] [class^='status'].selected {
    background-color: #22223B;
    color: #F2E9E4;
} 
/* -------------------------------------------------------------------- */
[class^='card'] button:hover {
    background-color: #22223B;
    color: #F2E9E4;
}
[class^='card'] [class^='status'].selected:hover {
    background-color: #F2E9E4;
    color: #22223B;
} 


/* THIS IS WHEN THE CARD HAS AN ADD CLASS, THE + IS ADDED TO IT */
[class^='card'].add{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* THIS CHANGES THE + SO THAT IT FITS THE CARD */
[class^='card'] .add-icon.card-icon {
    height: 6rem;
}
.site-container {
    height: 100%;
    background-color: #F2E9E4;

    font-family: 'Roboto', monospace;

    display: flex;
    justify-content: center;
    align-items: center;
}



.add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* REMOVE THIS WHEN */
    /* display: none; */
    /* FINISHED DESIGNING THE BOOK LAYOUT */

}

.add-box {}

.add-icon {
    fill: hsl(11, 24%, 80%);
    height: 12.09rem;
    width: auto;
}

.add-icon:hover {
    fill: #b18981;
}

.add-message {
    font-size: 1.6rem;
    font-weight: 300;

    color: #22223B;

}

dialog {



    border: none;
    border-radius: 0.5rem;
    padding: 2rem;

    background-color: #C9ADA7;
    color: white;

    margin: auto;
}

dialog::backdrop {
    opacity: 0;

}

form {
    display: grid;
    grid-template: repeat(5, 0.5fr)/1fr;
}

.add-book form h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.add-book form>div {
    margin-bottom: 0.5rem;
}

.add-book label,
input {
    display: inline-block;
}

.add-book div>label {
    width: 4rem;
}

.add-book label+input {
    width: 12rem;
    height: 1.5rem;
    padding-left: 0.3rem;
    border-radius: 0.5rem;

    outline: none;
    font-weight: 600;
}

.add-book #author {
    width: 10rem;
}

.add-book #pages {
    width: 4rem;

}

ul {
    list-style-type: none;
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
}

li {
    text-align: center;
    margin-top: 0.5rem;
}

.add-book button {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
}

.add-book button:hover {
    color: #b18981;
}

.add-book button:active {
    background-color: #22223B;
    color: #C9ADA7;
}

* {
    /* outline: 1px solid olive; */

}


/* HOW TO RESET ORIGINAL SITE LAYOUT
-REMOVE .added from .site-container html
-REMOVE .visible from .book-container html
-REMOVE display:none from .add-container css
*/