* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
}


.site-container{
    height: 100%;
    background-color: #F2E9E4;

    font-family: 'Roboto',monospace;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.add-box{

}
.add-icon {
    fill: hsl(11, 24%, 80%);
    height: 12.09rem;
    width: auto;
}
.add-icon:hover {
    fill: hsl(11, 24%, 60%);
}

.add-message{
    font-size: 1.6rem;
    font-weight: 300;
    
    color:#22223B;

}

dialog {
    /* background-color: #22223B; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 50%;
    height: 50%;
    /* border: none; */
    border-radius: 0.5rem;
    padding: 1rem;
}
* {
    outline: 1px solid olive;

}